.write {
  padding-top: 50px;
  z-index: 10;
}
.write-img {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.write-form {
  position: relative;
}
.writeForm-group {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.write-icon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.write-input {
  border: none;
  font-size: 30px;
  padding: 20px;
  width: 70vw;
}
.write-input::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}
.write-input:focus {
  outline: none;
}
.write-text {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}
.write-submit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: rgb(60, 224, 142);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
