.sidebar {
  display: flex;
  flex-direction: column;

  flex: 3;
  align-items: center;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
}
.sidebar-container > img {
  width: 200px;
  height: 150px;
}
.about {
  font-family: "ubuntu";
}
.sidebar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar-title {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin-top: 10px;
  padding: 8px;
  font-size: 19px;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.sidebar-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sidebar-item {
  margin-right: 4px;
  margin-left: 4px;
  list-style-type: none;
  padding: 2px;
}
